body {
  overflow: hidden auto;
}

.footer {
  width: 100%;
  color: white;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 30px;
  background-color: #333;
  height: 200px;
  font-size: 50px;
}

.copyright_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #111;
  height: 50px;
}

.icons {
  transition: ease-in 0.2s;
}

.twt:hover {
  color: #1DA1F2;
  font-size: 60px;
}
.evp:hover {
  color: #D44638;
  font-size: 60px;
}
.ytb:hover {
  color: #FF0000;
  font-size: 60px;
}
