@import 'custom';

.section-title {
  border-width: 0px 0px 0px 10px;
  padding: 10px;
  border-style: solid;
  background-color: $gray-800;
}

.section {
  margin: 20px auto;
}

@keyframes TitleLogo {
  0% {
    transform: scale(1) rotate(1deg) translate(3px, 4px);
  }
  50% {
    transform: scale(1.06) rotate(-1deg) translate(-3px, -2px);
  }
  100% {
    transform: scale(1) rotate(1deg) translate(3px, 4px);
  }
}

.jumbotron > .container {
  animation: TitleLogo 4s infinite alternate ease-in-out;
}

.sub-section-title {
  border-width: 0px 0px 3px 0px;
  padding: 5px;
  border-style: solid;
  background-color: $gray-800;
}
.sub-section {
  margin: 20px auto;
}


