.section-title {
  border-width: 0px 0px 3px 10px;
  padding: 10px;
  border-style: solid;
}

.sub-section-title {
  border-width: 0px 0px 3px 10px;
  padding: 5px;
  border-style: solid;
  font-size: 25px;
}
.sub-section {
  // margin: 10px 0px 10px 20px;
}